# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv
Pipfile
Pipfile.lock
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyCharm files
.idea/
*.iml
workspace.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
*.db
*.sql

# Caches
.cache/
.pytest_cache/

# Testing
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Docker
.dockerignore

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
